/*common tag starts here*/

.work-sans{
    font-family: Work Sans;
}
.display-flex{
    display: flex;
}
.container{
    background-color: #EDE1D3 ;
}
.btn-tag{
    background-color: #FF900E;
    color: white;
    font-size: 1rem;
    padding: 18px;
    border: none;
    border-radius: 8px;
}

/*common tag ends here*/

/*navbar starts here*/

.navbar{
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    align-items: center;
}
.navbar li{
    list-style: none;
    
}
.navbar ul{
    gap: 30px;
}
.navbar a{
    text-decoration: none;
    color: lightslategray;
}
.navbar h3{
    font-weight: 700;
    font-size: 2rem;
}

/*navbar ends here*/

/*banner starts here*/
.banner-content{
    max-width: 1100px;
    margin: 0 auto; 
}
.banner-title{
    max-width: 840px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
}
.banner-title h3{
    font-size: 3.6rem;
    font-weight: 700;
}
.banner-title p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
}
.banner-content img{
    width: 100%;
}

/*banner ends here*/

/*section team starts here*/

.team-content{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    align-items: center;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}
.team-info{
    margin-left: 45px;
}
.team-info .first{
    color: lightslategray;
    font-weight: 500;
    font-size: 1.6rem;
}
.team-info .second{
    font-weight: 700;
    font-size: 1.6rem;
}
.team-info .three{
    font-size: 1.6rem;
    color: #FF900E;
}
.team-info p{
    font-size: 0.8rem;
    color: lightslategray;
    line-height: 25px;
}

/*section team ends here*/


/*features enjoy section starts here*/

.border{
    border-left: 5px solid #FF900E;
}
.features-enjoy-content{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
    gap:100px
}
.features-title{
    width: 580px;
}
.features-title h3{
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: -10px;
}
.features-title p{
    font-size: 0.8rem;
    color: lightslategray;
    line-height: 22px;
    margin-top: -10px;
}
.features-card .card{
    background-color: aliceblue;
    text-align: left;
    border-radius: 8px;
    box-shadow: 5px 5px 7px lightslategray;
}
.card h5, p{
    padding: 10px;
}
.card h5{
    margin-bottom: -10px;
}
.features-image img{
    width: 500px;
}
button{
    background-color: #FF900E;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 25px 30px;
}
.btn{
    font-size: 1.5rem;
    font-weight: 700;
}
.type{
    margin-top: -60px;
    margin-left: -60px;
}


/*features enjoy section ends here*/


/*Facts Card item starts here*/

.Facts-Card-content{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 80px;
}
.Facts-items{
    width: 540px;
}
.Facts-items h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 15px;
}
.Facts-items p{
    font-size: 0.8rem;
    color: lightslategray;
    line-height: 22px;
}
.card-items .card{
    border: 2px solid #FF900E;
    width: 200px;
    height: 200px;
    border-radius:10px;
    margin-top: 50px;
}
.card-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}
.card{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card .nmbr{
    font-size: 1.5rem;
    font-weight: 700;
}
.card .name{
    font-size: 0.8rem;
    color: lightslategray;    
}


/*Facts Card item ends here*/

/*Sponspors items starts here*/

.Sponspors-items{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 100px;
}
.Sponspors-title{
    text-align: center;
    width: 500px;
    margin: 0 auto;
}
.Sponspors-title h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px;
}
.Sponspors-title p{
    font-size: 0.8rem;
    color: lightslategray;
    line-height: 22px;
}
.Sponspors-company{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
    justify-items: center;
}
.Sponspors-company img{
    width: 100px;
    height: 30px; 
    filter: grayscale(100%);
}
    

/*Sponspors items ends here*/

/*footer section starts here*/

.landing-page{
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
    font-size: 0.9rem;
    background-color: bisque;
    color: lightslategray;
    padding: 2px;
    border-radius: 7px;
    margin-top: 80px;
    margin-bottom: 100px;
}


/*footer section ends here*/


/*Mobile Device*/

@media screen and (max-width:576px) {
    .navbar{
        flex-direction: column;
    }
    .navbar ul{
        flex-direction: column;
    }
    .team-content{
        flex-direction: column;
    }
    .team-image{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .team-info{
        text-align: center;
    }
    .Facts-items{
        text-align: center;
        margin: 0 auto;
        width: 400px;
    }
    .card-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 5px;
    }

    .features-enjoy-content{
        flex-direction: column;
    }
    .features-image img{
        width: 100%;
    }
    .features-title, .features-card .card{
        width: 450px;
        margin: 0 auto;
        text-align: center;
    }
    
    .Sponspors-title{
        width: 400px;
        margin: 0 auto;
    }
    .Sponspors-company{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        gap: 25px;
    }
    .landing-page{
        width: 450px;
    }
}

/*Tablet Device*/
  
@media screen and (min-width:577px) and (max-width:900px) {

    .navbar{
        flex-direction: column;
    }
     .navbar ul{
        flex-direction: row;
        margin: 0 auto;
    }
    .navbar a{
        color: green
    }
    .team-content{
        flex-direction: column;
    }
      .team-image{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .team-info{
        text-align: center;
        margin: 0 auto;
    }
    .features-enjoy-content{
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }

    .Facts-items{
        text-align: center;
        margin: 0 auto;
    }
    .card-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
    .Sponspors-company{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        justify-items: center;
    }
    .landing-page{
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }

}